body {
    background: #181818;
    color: #e2e2e2;
}

header {
    display: flex;
    background-color: #000000;
    border-bottom: 2px solid #2c2c2c;
    padding: 20px 50px;
}


/* DASHBOARD */

.board-container {
    display: flex;
    flex: 1;
    
}

.menu {
    padding: 10px 30px 20px 10px; 
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    
}

.menu div {    
    font-size: 25px;
    margin-top: 30%;
    border-bottom: 3px solid #2c2c2c;
    padding: 10px;
}

.data-boards {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.request-bar {
    display: flex;
    gap: 30px;
    padding: 10px 10px 30px 10px;
    font-style: italic;
    font-size: 18px;
    height: fit-content;
}

.requests-btn {
    padding: 2px 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 0.1s ease-out;
    border-bottom: 3px solid #2c2c2c;
    color: #b8b5b5;
}

.requests-btn:active  {
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
  }

  .requests-btn:active span {
    position: relative;
    top: 2px; 
  }

.active-btn {
    border-bottom: 4px solid #b8b2b2;
    color: #e2e2e2;
}


.requests {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.request-row {
    display: flex;
    flex-direction: row;
    background-color: #3f3f3f;
    gap: 10px;
    padding: 5px 10px;
    border: 3px solid #2c2c2c;
    border-radius: 10px;
    align-items: center;
}

.request-row div {
    display: flex;
    font-size: 12px;
    flex: 7;
}

.name {
    flex: 4 !important;
}
.surname {
    flex: 7 !important;
}
.number {
    flex: 5 !important;
}
.email {
    flex: 9 !important;
}
.birthday {
    flex: 3 !important;
}
.created {
    flex: 9 !important;
}

button {
    background-color: rgb(180, 180, 180);
    padding: 3px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
}

.head-requests {
    background: none;
    border: none;  
    padding: 0 10px;  
}

.head-requests div {
    font-size: 11px;
    color: #b8b5b5;
}


