* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebeff2;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  background-color: #fff;
}
.header-container {
  justify-content: space-between;
  display: flex;
  flex: 1;
  max-width: 1020px;
}



footer {
  background-color: #f7f7f7;
  color: #4a4a4a;
  font-size: .875rem;
  line-height: 1.7;
  min-height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #4a4a4a;
}

.footer-container {
  display: flex;
  flex: 1;
  max-width: 1440px;
}

form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

@media (max-width: 575px) {
  header {
    padding: 15px 15px;
  }
}